{% extends "myapp/base.html" %}
{% load static %}

{% block container %}
{% for image in images %}
    <div>
        <h1>{{ image.slug }} - date {{ image.date }}</h1>
        <img src="{% static 'myapp/images/' %}{{ image.pathImage }}" alt="{{ image.slug }}" width="200" height="200">
        <img src="{% static 'myapp/images/' %}{{ image.pathImage }}" alt="{{ image.slug }}" width="200" height="200">
        <p>{{ image.pathImage }} - Uploaded by <a href="{% url 'myapp:imageUploader' image.uploader %}">{{ image.uploader }}</a></p>
        <a href="{% url 'myapp:imageSingle' image.id %}">Details</a>
    </div>
{% endfor %}
{% endblock container %}